<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/estilo.css">
    <title>Document2</title>
</head>
<body>
    <div class="component3">
        <div class="component1">
           
            <input class="input1" >
            
                                                                                
           
        
            <button class="button1"></button>
            <button class="button2"></button>
        
            
            
    
        


        </div>
        
        <div>


            






            <script>
                /*<h1>
                <input class="input1" placeholder="digite um número" id="num1"> 
    
            </h1>
            <h1>
                <input class="input1" placeholder="digite um número" id="num2">
    
            </h1> */
            </script>
            
        </div>
        

    </div>
    
    
</body>
</html>
       
        
        
